@use "sass:math";
@use "sass:map";

// FONT
$font-base-size: 16px;
$font-poppins: "Poppins", sans-serif;

// COLORS
$black: #212121;
$white: #FFFFFF;
$error: red;
$primary: rgb(25, 103, 210);

// SIZE
$text-10: 0.625rem;
$text-12: 0.75rem;
$text-14: 0.875rem;
$text-15: 0.9375rem;
$text-16: 1rem;
$text-18: 1.125rem;
$text-20: 1.25rem;
$text-24: 1.5rem;
$text-26: 1.625rem;
$text-28: 1.75rem;
$text-30: 1.875rem;
$text-32: 2rem;
$text-40: 2.5rem;
$text-50: 3.125rem;

// FONT WEIGHTS
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

// // BREAKPOINTS RESPONSIVE
$breakpoints: ( xs: 0, sm: 575.98px, md: 767.98px, lg: 991.98px, xl: 1199.98px, xxl: 1399.98px, xxxl: 1899.98px);

// CONTAINER WIDTH
$container: math.ceil(map.get($breakpoints, xl));
$container-small: math.ceil(map.get($breakpoints, md));
$container-lg: math.ceil(map.get($breakpoints, lg));
$container-xxl: math.ceil(map.get($breakpoints, xxl));
$container-xxxl: math.ceil(map.get($breakpoints, xxxl));